* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container-blk {
  width: 1250px;
  margin: 0 auto;
}

#hero-blk {
  position: relative;
  background: #3852f7;
  height: 460px;
  #large-shape {
    position: absolute;
    bottom: 0;
    right: 8%;
    z-index: 1;
  }
  #medium-shape {
    position: absolute;
    top: 0;
    right: 0%;
  }
  #small-shape {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-50%, -50%);
  }

  .logo-blk {
    padding-top: 40px;
  }
  .hero-text-blk {
    position: relative;
    z-index: 2;
    padding-top: 110px;
    h1 {
      color: #fff;
      font-weight: 900;
      font-size: 80px;
      line-height: 68px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: #fff;
      padding-top: 10px;
    }
  }
}

.input-blk {
  display: grid;
  grid-template-columns: 2fr 1fr;
  div {
    position: relative;
  }
  padding: 45px 0px 30px 0px;
  input[type="text"] {
    background: none;
    padding: 15px 15px 15px 40px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
  #search-btn {
    color: #3852f7;
    position: absolute;
    -webkit-transform: translate(90%, -50%);
    transform: translate(90%, -50%);
    top: 50%;
    cursor: pointer;
  }
  #select-blk {
    cursor: pointer;
    float: right;
    padding: 15px;
    width: 200px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    color: #3852f7;
    #arrow-icon-blk {
      padding-left: 5px;
    }
  }
  .dd-inactive {
    visibility: hidden;
  }
  .arrow-active {
    transform: rotateX(180deg);
  }
  #drop-down-blk {
    list-style: none;
    width: 200px;
    position: absolute;
    right: 0%;
    bottom: -130%;
    z-index: 1;
    li {
      cursor: pointer;
      text-align: center;
      background: #fff;
      padding: 10px;
      border: 1px solid #e6e6e6;
      font-size: 13px;
      &:hover {
        background: rgb(235, 235, 235);
      }
      &:first-child {
        border-bottom: 0px;
      }
    }
  }
}

.mountains-blk {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  padding-bottom: 100px;
  .mountain-detail-blk {
    .mountain-img-blk {
      position: relative;
      .sticker {
        position: absolute;
        width: 50px;
        bottom: 10%;
        left: 8%;
      }
    }
    img {
      width: 100%;
    }
    h1 {
      display: block;
      margin-top: 10px;
      font-size: 24px;
      line-height: 26.4px;
      font-weight: 900;
    }
    p {
      display: block;
      margin-top: 10px;
      font-size: 14px;
      line-height: 20px;
      color: #6c6c6c;
    }
  }
}

@media (max-width: 1250px) {
  .container-blk {
    width: 998px;
    padding: 0 30px;
  }
}

@media (max-width: 998px) {
  .container-blk {
    width: 100%;
    padding: 0 30px;
  }
  .input-blk {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
  }
}

@media (max-width: 900px) {
  .container-blk {
    padding-bottom: 100px;
  }
  .mountain-detail-blk {
    .sticker {
      width: 40px !important;
    }
  }

  #hero-blk {
    .hero-text-blk {
      padding-top: 110px;
      h1 {
        font-size: 50px;
      }
      p {
        padding-top: 0px;
        font-size: 16px;
        width: 300px;
        line-height: 30px;
      }
    }
  }
  .mountains-blk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3%;
    .mountain-detail-blk {
      h1 {
        margin-top: 5px;
        font-size: 18px;
        line-height: 110%;
      }
      p {
        margin-top: 5px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 700px) {
  #hero-blk {
    #large-shape {
      width: 300px;
      right: 0;
    }
    #small-shape {
      width: 200px;
      top: 60%;
      right: 5%;
    }
    #medium-shape {
      width: 160px;
      top: 30%;
    }
  }
  .input-blk {
    #select-blk {
      width: 100%;
    }
    #drop-down-blk {
      width: 100%;
    }
  }
}

@media (max-width: 376px) {
  #hero-blk {
    height: 220px;
    #large-shape {
      width: 150px;
      right: 5%;
    }
    #medium-shape {
      width: 80px;
      top: 40%;
    }
    #small-shape {
      width: 80px;
      top: 70%;
      right: 20%;
    }
    .logo-blk {
      width: 80px;
      padding-top: 30px;
    }
    .hero-text-blk {
      padding-top: 30px;
      h1 {
        font-weight: 900;
        font-size: 32px;
        line-height: 110%;
        margin-bottom: 0px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        width: 200px;
      }
    }
  }
}
